<div class='login'> 
  <header align='center'><font face="drawing guides" color="white" size="20"><br align="center">Welcome!</br></font>

      <font face="drawing guides" color="white" size="5"><br>You're on your way to becoming a Junior Scientist!</br></font>
    </header>
    
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

   <div><%= f.label :age %><br />
  <%= f.number_field :age %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
